@import url("../share/style.css");

var.nano-var {
    font-style: italic;
    font-weight: bold;
}

code.nano-code {
    font-weight: bold;
    background: color-mix(in srgb, var(--color-dark) 10%, var(--color-light));
    display: inline-block;
    padding: 0rem 1cap;
}

kbd.nano-kbd {
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0px 1px 0px 3px color-mix(in srgb, var(--color-dark) 30%, var(--color-light));
    padding: 0rem 1cap;
    margin: 0 0.125rem;
}

samp.nano-samp {
    font-weight: bold;
    display: block;
    padding: 1rem;
    background: var(--color-dark);
    color: var(--color-light);
    white-space: pre;
}

pre.nano-pre {
    font-weight: bold;
    background: color-mix(in srgb, var(--color-dark) 10%, var(--color-light));
    padding: 1rem;
}