@import url("../share/style.css");
@import url("./padding/style.css");
@import url("./margin/style.css");
@import url("./text/style.css");
@import url("./list/style.css");

.fii-pointer {
    cursor: pointer;
}

.fii-w-100 {
    width: 100%;
}

.fii-h-100 {
    height: 100%;
}

.fii-maxw-2 {
    max-width: calc(var(--space-base) * 2);
}

.fii-maxw-4 {
    max-width: calc(var(--space-base) * 4);
}

.fii-maxw-6 {
    max-width: calc(var(--space-base) * 6);
}

.fii-maxw-8 {
    max-width: calc(var(--space-base) * 8);
}

.fii-maxw-10 {
    max-width: calc(var(--space-base) * 10);
}

.fii-maxw-20 {
    max-width: calc(var(--space-base) * 20);
}

.fii-maxw-30 {
    max-width: calc(var(--space-base) * 30);
}

.fii-maxw-40 {
    max-width: calc(var(--space-base) * 40);
}

.fii-maxw-50 {
    max-width: calc(var(--space-base) * 50);
}

.fii-maxw-60 {
    max-width: calc(var(--space-base) * 60);
}

.fii-maxw-80 {
    max-width: calc(var(--space-base) * 80);
}

.fii-maxw-100 {
    max-width: calc(var(--space-base) * 100);
}

.fii-maxw-140 {
    max-width: calc(var(--space-base) * 140);
}

.fii-maxw-180 {
    max-width: calc(var(--space-base) * 180);
}

.fii-maxw-250 {
    max-width: calc(var(--space-base) * 250);
}

.fii-maxw-300 {
    max-width: calc(var(--space-base) * 300);
}

.fii-maxw-350 {
    max-width: calc(var(--space-base) * 350);
}


.fii-block {
    display: block;
}

.fii-inline-block {
    display: inline-block;
}

.fii-flex {
    display: flex;
}

.fii-flex-inline {
    display: inline-flex;
}

.fii-flex-grow {
    flex: 1 0 auto;
}

.fii-flex-basic {
    flex: 0 0 auto;
}

.fii-flex-wrap {
    flex-wrap: wrap;
}

.fii-flex-nowrap {
    flex-wrap: nowrap;
}

.fii-flex-items-start {
    align-items: start;
}

.fii-flex-items-center {
    align-items: center
}

.fii-flex-items-stretch {
    align-items: stretch
}

.fii-flex-item-base-line {
    align-items: baseline
}

.fii-flex-justify-center {
    justify-content: center
}

.fii-flex-justify-start {
    justify-content: flex-start
}

.fii-flex-justify-end {
    justify-content: flex-end
}

.fii-flex-justify-between {
    justify-content: space-between
}

.fii-flex-flow-column {
    flex-flow: column
}

.fii-flex-flow-wrap {
    flex-flow: wrap
}

.fii-flex-direction-column {
    flex-direction: column
}

.fii-flex-align-center {
    align-items: center
}

.fii-flex-align-baseline {
    align-items: baseline
}

.fii-flex-align-end {
    align-items: flex-end
}

.fii-flex-align-start {
    align-items: flex-start
}

/* SPACING */
.fii-gap-1 { gap: calc(var(--unit-base) * 1); }
.fii-gap-2 { gap: calc(var(--unit-base) * 2); }
.fii-gap-3 { gap: calc(var(--unit-base) * 3); }
.fii-gap-4 { gap: calc(var(--unit-base) * 4); }
.fii-gap-5 { gap: calc(var(--unit-base) * 5); }
.fii-gap-6 { gap: calc(var(--unit-base) * 6); }
.fii-gap-7 { gap: calc(var(--unit-base) * 7); }
.fii-gap-8 { gap: calc(var(--unit-base) * 8); }
.fii-gap-9 { gap: calc(var(--unit-base) * 9); }
.fii-gap-10 { gap: calc(var(--unit-base) * 10); }
.fii-gap-11 { gap: calc(var(--unit-base) * 11); }
.fii-gap-11 { gap: calc(var(--unit-base) * 11); }
.fii-gap-12 { gap: calc(var(--unit-base) * 12); }
.fii-gap-13 { gap: calc(var(--unit-base) * 13); }
.fii-gap-14 { gap: calc(var(--unit-base) * 14); }
.fii-gap-15 { gap: calc(var(--unit-base) * 15); }
.fii-gap-16 { gap: calc(var(--unit-base) * 16); }
.fii-gap-17 { gap: calc(var(--unit-base) * 17); }
.fii-gap-18 { gap: calc(var(--unit-base) * 18); }
.fii-gap-19 { gap: calc(var(--unit-base) * 19); }
.fii-gap-20 { gap: calc(var(--unit-base) * 20); }

/* POSITIONING */
.fii-relative {
    position: relative;
}

.fii-absolute {
    position: absolute;
}

.fii-fixed {
    position: fixed;
}

.fii-sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* ROUNDING */
.fii-rounded {
    border-radius: var(--radius-base);
}

.fii-rounded-1 {
    border-radius: calc(var(--unit-base) * 1);
}

.fii-rounded-2 {
    border-radius: calc(var(--unit-base) * 2);
}

.fii-rounded-3 {
    border-radius: calc(var(--unit-base) * 3);
}

.fii-rounded-4 {
    border-radius: calc(var(--unit-base) * 4);
}

.fii-rounded-5 {
    border-radius: calc(var(--unit-base) * 5);
}

.fii-rounded-6 {
    border-radius: calc(var(--unit-base) * 5);
}

.fii-rounded-circle {
    border-radius: 9999px;
}

/* SIZING */
.fii-size-1 {
    width: calc(var(--unit-base) * 1);
    height: calc(var(--unit-base) * 1);
}

.fii-size-2 {
    width: calc(var(--unit-base) * 2);
    height: calc(var(--unit-base) * 2);
}

.fii-size-3 {
    width: calc(var(--unit-base) * 3);
    height: calc(var(--unit-base) * 3);
}

.fii-size-4 {
    width: calc(var(--unit-base) * 4);
    height: calc(var(--unit-base) * 4);
}

.fii-size-5 {
    width: calc(var(--unit-base) * 5);
    height: calc(var(--unit-base) * 5);
}

.fii-size-6 {
    width: calc(var(--unit-base) * 6);
    height: calc(var(--unit-base) * 6);
}

/* COLORING */
.fii-bg-primary {
    background-color: var(--color-blue);
}

.fii-bg-red {
    background-color: var(--color-red);
}

.fii-bg-orange {
    background-color: var(--color-orange);
}

.fii-bg-yellow {
    background-color: var(--color-yellow);
}

.fii-bg-green {
    background-color: var(--color-green);
}

.fii-bg-blue {
    background-color: var(--color-blue);
}

.fii-bg-indigo {
    background-color: var(--color-indigo);
}

.fii-bg-violet {
    background-color: var(--color-violet);
}

.fii-bg-red--subtle {
    background-color: color-mix(in srgb, var(--color-red) 10%, white) ;
}


