*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1.5rem;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #1e293b;
    background: #f8fafc;
}

:root {
    --color-red: #dc2626;
    --color-orange: #ff6900;
    --color-yellow: #ffc107;
    --color-green: #059669;
    --color-blue: #2563eb;
    --color-indigo: #4f46e5;
    --color-violet: #7c3aed;

    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #64748b;

    
    --color-primary: var(--color-blue);
    --color-danger: var(--color-red);
    --color-warning: var(--color-orange);
    --color-success: var(--color-green);
    --color-secondary: var(--color-gray);
    --color-dark: var(--color-black);
    --color-light: var(--color-white);

    --radius-base: 4px;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  width: 100%;
}

td, th {
  border: 1px solid rgb(190,190,190);
}

td {
  text-align: center;
}

caption {
  caption-side: bottom;
  font-style: italic;
}