*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    font-family: monospace;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  width: 100%;
}

td, th {
  border: 1px solid rgb(190,190,190);
}

td {
  text-align: center;
}

caption {
  caption-side: bottom;
  font-style: italic;
}