@import url("../share/style.css");

.fii-model {
    margin: auto;
    border: unset;
    border-radius: var(--radius-base);
    width: 30rem;
}

.fii-model::backdrop {
    background: var(--color-dark);
    opacity: 0.4;
}

.fii-model__body {
    padding: calc(var(--space-base) * 6) calc(var(--space-base) * 6) calc(var(--space-base) * 0) calc(var(--space-base) * 6);
}

.fii-model__footer {
    display: flex;
    gap: .75rem;
    padding: .75rem 1rem;
    align-items: center;
    justify-content: end;
    margin-top: calc(var(--space-base) * 4);
    border-radius: 0 0 var(--radius-base);
    background-color: var(--color-layer-01);
}