<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="fii-flex fii-flex-justify-between fii-bg-primary fii-text-light fii-p-4 fii-mb-6">
        <div class="fii-flex">
            <div></div>
            <h4 class="fii-text-4">Smart Factory GPT</h4>
        </div>
        <ul class="fii-flex fii-gap-4">
            <li class="fii-list-style-none">Home</li>
            <li class="fii-list-style-none">Feature</li>
            <li class="fii-list-style-none">Production</li>
            <li class="fii-list-style-none">Agent</li>
            <li class="fii-list-style-none">
                John
            </li>
            <li class="fii-list-style-none">V1060494</li>
            <li class="fii-list-style-none">Đăng xuất</li>
        </ul>
    </nav>
    <div class="fii-flex fii-gap-4 fii-mx-4 fii-mb-6">
        <article class="fii-card fii-flex-grow">
            <header class="fii-card__header"></header>
            <div class="fii-card__body">
                <h4 class="fii-text-4 fii-text-center">Knowledge Database</h4>
            </div>
            <footer class="fii-card__footer"></footer>
        </article>
        <article class="fii-card fii-flex-grow">
            <header class="fii-card__header"></header>
            <div class="fii-card__body">
                <h4 class="fii-text-4 fii-text-center">Knowledge Database</h4>
            </div>
            <footer class="fii-card__footer"></footer>
        </article>
        <article class="fii-card fii-flex-grow">
            <header class="fii-card__header"></header>
            <div class="fii-card__body">
                <h4 class="fii-text-4 fii-text-center">Knowledge Database</h4>
            </div>
            <footer class="fii-card__footer"></footer>
        </article>
        <article class="fii-card fii-flex-grow">
            <header class="fii-card__header"></header>
            <div class="fii-card__body">
                <h4 class="fii-text-4 fii-text-center">Knowledge Database</h4>
            </div>
            <footer class="fii-card__footer"></footer>
        </article>
        <article class="fii-card fii-flex-basic">
            <header class="fii-card__header"></header>
            <div class="fii-card__body">
                <h4 class="fii-text-4 fii-text-center">Knowledge Database</h4>
            </div>
            <footer class="fii-card__footer"></footer>
        </article>
    </div>
    <div class="fii-flex fii-gap-4 fii-mx-4 fii-flex-justify-end">
        <div class="fii-flex-basic fii-flex fii-flex-flow-column">
            <article class="fii-card fii-mb-6">
                <header class="fii-card__header"></header>
                <div class="fii-card__body">
                    <h4 class="fii-text-4 fii-text-center">Knowledge Database</h4>
                </div>
                <footer class="fii-card__footer"></footer>
            </article>
            <article class="fii-card">
                <header class="fii-card__header"></header>
                <div class="fii-card__body">
                    <h4 class="fii-text-4 fii-text-center">Knowledge Database</h4>
                </div>
                <footer class="fii-card__footer"></footer>
            </article>
        </div>
    </div>
    <div class="fii-maxw-300 fii-mx-auto">
        <div class="fii-flex fii-gap-4 fii-mx-4 fii-flex-flow-column">
            <h1 class="fii-text-1 fii-text-center">MAI — Factory GPT Agent</h1>
            <h2 class="fii-text-2 fii-text-center">How can I help you today?</h2>
        </div>
        <div>
            <textarea class="fii-w-100">Send a Message</textarea>
            <div class="fii-flex fii-flex-justify-end">
                <button>send</button>
            </div>
            <div class="fii-flex fii-gap-4 fii-mb-6">
                <article class="fii-card fii-flex-grow">
                    <header class="fii-card__header"></header>
                    <div class="fii-card__body">
                        <h4 class="fii-text-4 fii-text-center">Knowledge Database</h4>
                    </div>
                    <footer class="fii-card__footer"></footer>
                </article>
                <article class="fii-card fii-flex-grow">
                    <header class="fii-card__header"></header>
                    <div class="fii-card__body">
                        <h4 class="fii-text-4 fii-text-center">Knowledge Database</h4>
                    </div>
                    <footer class="fii-card__footer"></footer>
                </article>
                <article class="fii-card fii-flex-grow">
                    <header class="fii-card__header"></header>
                    <div class="fii-card__body">
                        <h4 class="fii-text-4 fii-text-center">Knowledge Database</h4>
                    </div>
                    <footer class="fii-card__footer"></footer>
                </article>
                <article class="fii-card fii-flex-grow">
                    <header class="fii-card__header"></header>
                    <div class="fii-card__body">
                        <h4 class="fii-text-4 fii-text-center">Knowledge Database</h4>
                    </div>
                    <footer class="fii-card__footer"></footer>
                </article>
                <article class="fii-card fii-flex-grow">
                    <header class="fii-card__header"></header>
                    <div class="fii-card__body">
                        <h4 class="fii-text-4 fii-text-center">Knowledge Database</h4>
                    </div>
                    <footer class="fii-card__footer"></footer>
                </article>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>