<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="fii-flex fii-justify-between fii-bg-primary fii-text-light fii-p-4 fii-mb-6">
        <div class="fii-flex">
            <div></div>
            <h4 class="fii-text-lg">Smart Factory GPT</h4>
        </div>
        <ul class="fii-flex fii-gap-4 fii-list-none">
            <li>Home</li>
            <li>Feature</li>
            <li>Production</li>
            <li>Agent</li>
            <li>
                John
            </li>
            <li>V1060494</li>
            <li>Đăng xuất</li>
        </ul>
    </nav>
    <div class="fii-flex fii-gap-4 fii-mx-4 fii-mb-6">
        <article class="fii-card fii-flex-1">
            <header class="fii-card__header"></header>
            <div class="fii-card__body">
                <h4 class="fii-text-lg fii-text-center">Knowledge Database</h4>
            </div>
            <footer class="fii-card__footer"></footer>
        </article>
        <article class="fii-card fii-flex-1">
            <header class="fii-card__header"></header>
            <div class="fii-card__body">
                <h4 class="fii-text-lg fii-text-center">Knowledge Database</h4>
            </div>
            <footer class="fii-card__footer"></footer>
        </article>
        <article class="fii-card fii-flex-1">
            <header class="fii-card__header"></header>
            <div class="fii-card__body">
                <h4 class="fii-text-lg fii-text-center">Knowledge Database</h4>
            </div>
            <footer class="fii-card__footer"></footer>
        </article>
        <article class="fii-card fii-flex-1">
            <header class="fii-card__header"></header>
            <div class="fii-card__body">
                <h4 class="fii-text-lg fii-text-center">Knowledge Database</h4>
            </div>
            <footer class="fii-card__footer"></footer>
        </article>
        <article class="fii-card fii-flex-none">
            <header class="fii-card__header"></header>
            <div class="fii-card__body">
                <h4 class="fii-text-lg fii-text-center">Knowledge Database</h4>
            </div>
            <footer class="fii-card__footer"></footer>
        </article>
    </div>
    <div class="fii-flex fii-gap-4 fii-mx-4 fii-justify-end">
        <div class="fii-flex-none fii-flex fii-flex-col">
            <article class="fii-card fii-mb-6">
                <header class="fii-card__header"></header>
                <div class="fii-card__body">
                    <h4 class="fii-text-lg fii-text-center">Knowledge Database</h4>
                </div>
                <footer class="fii-card__footer"></footer>
            </article>
            <article class="fii-card">
                <header class="fii-card__header"></header>
                <div class="fii-card__body">
                    <h4 class="fii-text-lg fii-text-center">Knowledge Database</h4>
                </div>
                <footer class="fii-card__footer"></footer>
            </article>
        </div>
    </div>
    <div class="fii-max-w-2xl fii-mx-auto">
        <div class="fii-flex fii-gap-4 fii-mx-4 fii-flex-col">
            <h1 class="fii-text-3xl fii-text-center">MAI — Factory GPT Agent</h1>
            <h2 class="fii-text-2xl fii-text-center">How can I help you today?</h2>
        </div>
        <div>
            <textarea class="fii-w-full">Send a Message</textarea>
            <div class="fii-flex fii-justify-end">
                <button>send</button>
            </div>
            <div class="fii-flex fii-gap-4 fii-mb-6">
                <article class="fii-card fii-flex-1">
                    <header class="fii-card__header"></header>
                    <div class="fii-card__body">
                        <h4 class="fii-text-lg fii-text-center">Knowledge Database</h4>
                    </div>
                    <footer class="fii-card__footer"></footer>
                </article>
                <article class="fii-card fii-flex-1">
                    <header class="fii-card__header"></header>
                    <div class="fii-card__body">
                        <h4 class="fii-text-lg fii-text-center">Knowledge Database</h4>
                    </div>
                    <footer class="fii-card__footer"></footer>
                </article>
                <article class="fii-card fii-flex-1">
                    <header class="fii-card__header"></header>
                    <div class="fii-card__body">
                        <h4 class="fii-text-lg fii-text-center">Knowledge Database</h4>
                    </div>
                    <footer class="fii-card__footer"></footer>
                </article>
                <article class="fii-card fii-flex-1">
                    <header class="fii-card__header"></header>
                    <div class="fii-card__body">
                        <h4 class="fii-text-lg fii-text-center">Knowledge Database</h4>
                    </div>
                    <footer class="fii-card__footer"></footer>
                </article>
                <article class="fii-card fii-flex-1">
                    <header class="fii-card__header"></header>
                    <div class="fii-card__body">
                        <h4 class="fii-text-lg fii-text-center">Knowledge Database</h4>
                    </div>
                    <footer class="fii-card__footer"></footer>
                </article>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>