/* Size (w+h cùng giá trị) – prefix nano-, var(--unit-base) */
.nano-size-1 { width: calc(var(--unit-base) * 1); height: calc(var(--unit-base) * 1); }
.nano-size-2 { width: calc(var(--unit-base) * 2); height: calc(var(--unit-base) * 2); }
.nano-size-4 { width: calc(var(--unit-base) * 4); height: calc(var(--unit-base) * 4); }
.nano-size-6 { width: calc(var(--unit-base) * 6); height: calc(var(--unit-base) * 6); }
.nano-size-8 { width: calc(var(--unit-base) * 8); height: calc(var(--unit-base) * 8); }
.nano-size-10 { width: calc(var(--unit-base) * 10); height: calc(var(--unit-base) * 10); }
.nano-size-12 { width: calc(var(--unit-base) * 12); height: calc(var(--unit-base) * 12); }


.nano-h-20 { height: calc(var(--unit-base) * 20); }