@import url("../share/style.css");

.nano-card {
    background: var(--color-layer-03);
    border-radius: calc(var(--radius-base) * 2);

    &.nano-card--primary {
        background: var(--color-primary);
        color: var(--color-light);
    }

    &.nano-card--danger {
        background: var(--color-danger);
        color: var(--color-light);
    }
}

.nano-card__header {
    padding-top: calc(var(--space-base) * 6);
}

.nano-card__body {
    padding: calc(var(--space-base) * 0) calc(var(--space-base) * 6) calc(var(--space-base) * 0) calc(var(--space-base) * 6);
}

.nano-card__footer {
    padding-bottom: calc(var(--space-base) * 6);
}