/* Overflow – prefix nano- */
.nano-overflow-auto { overflow: auto; }
.nano-overflow-hidden { overflow: hidden; }
.nano-overflow-visible { overflow: visible; }
.nano-overflow-scroll { overflow: scroll; }
.nano-overflow-x-auto { overflow-x: auto; overflow-y: visible; }
.nano-overflow-y-auto { overflow-y: auto; overflow-x: visible; }
.nano-overflow-x-hidden { overflow-x: hidden; }
.nano-overflow-y-hidden { overflow-y: hidden; }
