.fii-m-0 { margin: calc(var(--unit-base) * 0); }
.fii-m-1 { margin: calc(var(--unit-base) * 1); }
.fii-m-2 { margin: calc(var(--unit-base) * 2); }
.fii-m-3 { margin: calc(var(--unit-base) * 3); }
.fii-m-4 { margin: calc(var(--unit-base) * 4); }
.fii-m-5 { margin: calc(var(--unit-base) * 5); }
.fii-m-6 { margin: calc(var(--unit-base) * 6); }
.fii-m-7 { margin: calc(var(--unit-base) * 7); }
.fii-m-8 { margin: calc(var(--unit-base) * 8); }
.fii-m-9 { margin: calc(var(--unit-base) * 9); }
.fii-m-10 { margin: calc(var(--unit-base) * 10); }
.fii-m-11 { margin: calc(var(--unit-base) * 11); }
.fii-m-12 { margin: calc(var(--unit-base) * 12); }
.fii-m-13 { margin: calc(var(--unit-base) * 13); }
.fii-m-14 { margin: calc(var(--unit-base) * 14); }
.fii-m-15 { margin: calc(var(--unit-base) * 15); }
.fii-m-16 { margin: calc(var(--unit-base) * 16); }
.fii-m-17 { margin: calc(var(--unit-base) * 17); }
.fii-m-18 { margin: calc(var(--unit-base) * 18); }
.fii-m-19 { margin: calc(var(--unit-base) * 19); }
.fii-m-20 { margin: calc(var(--unit-base) * 20); }

.fii-mt-0 { margin-top: calc(var(--unit-base) * 0); }
.fii-mt-1 { margin-top: calc(var(--unit-base) * 1); }
.fii-mt-2 { margin-top: calc(var(--unit-base) * 2); }
.fii-mt-3 { margin-top: calc(var(--unit-base) * 3); }
.fii-mt-4 { margin-top: calc(var(--unit-base) * 4); }
.fii-mt-5 { margin-top: calc(var(--unit-base) * 5); }
.fii-mt-6 { margin-top: calc(var(--unit-base) * 6); }
.fii-mt-7 { margin-top: calc(var(--unit-base) * 7); }
.fii-mt-8 { margin-top: calc(var(--unit-base) * 8); }
.fii-mt-9 { margin-top: calc(var(--unit-base) * 9); }
.fii-mt-10 { margin-top: calc(var(--unit-base) * 10); }
.fii-mt-11 { margin-top: calc(var(--unit-base) * 11); }
.fii-mt-12 { margin-top: calc(var(--unit-base) * 12); }
.fii-mt-13 { margin-top: calc(var(--unit-base) * 13); }
.fii-mt-14 { margin-top: calc(var(--unit-base) * 14); }
.fii-mt-15 { margin-top: calc(var(--unit-base) * 15); }
.fii-mt-16 { margin-top: calc(var(--unit-base) * 16); }
.fii-mt-17 { margin-top: calc(var(--unit-base) * 17); }
.fii-mt-18 { margin-top: calc(var(--unit-base) * 18); }
.fii-mt-19 { margin-top: calc(var(--unit-base) * 19); }
.fii-mt-20 { margin-top: calc(var(--unit-base) * 20); }

.fii-mr-0 { margin-right: calc(var(--unit-base) * 0); }
.fii-mr-1 { margin-right: calc(var(--unit-base) * 1); }
.fii-mr-2 { margin-right: calc(var(--unit-base) * 2); }
.fii-mr-3 { margin-right: calc(var(--unit-base) * 3); }
.fii-mr-4 { margin-right: calc(var(--unit-base) * 4); }
.fii-mr-5 { margin-right: calc(var(--unit-base) * 5); }
.fii-mr-6 { margin-right: calc(var(--unit-base) * 6); }
.fii-mr-7 { margin-right: calc(var(--unit-base) * 7); }
.fii-mr-8 { margin-right: calc(var(--unit-base) * 8); }
.fii-mr-9 { margin-right: calc(var(--unit-base) * 9); }
.fii-mr-10 { margin-right: calc(var(--unit-base) * 10); }
.fii-mr-11 { margin-right: calc(var(--unit-base) * 11); }
.fii-mr-12 { margin-right: calc(var(--unit-base) * 12); }
.fii-mr-13 { margin-right: calc(var(--unit-base) * 13); }
.fii-mr-14 { margin-right: calc(var(--unit-base) * 14); }
.fii-mr-15 { margin-right: calc(var(--unit-base) * 15); }
.fii-mr-16 { margin-right: calc(var(--unit-base) * 16); }
.fii-mr-17 { margin-right: calc(var(--unit-base) * 17); }
.fii-mr-18 { margin-right: calc(var(--unit-base) * 18); }
.fii-mr-19 { margin-right: calc(var(--unit-base) * 19); }
.fii-mr-20 { margin-right: calc(var(--unit-base) * 20); }

.fii-mb-0 { margin-bottom: calc(var(--unit-base) * 0); }
.fii-mb-1 { margin-bottom: calc(var(--unit-base) * 1); }
.fii-mb-2 { margin-bottom: calc(var(--unit-base) * 2); }
.fii-mb-3 { margin-bottom: calc(var(--unit-base) * 3); }
.fii-mb-4 { margin-bottom: calc(var(--unit-base) * 4); }
.fii-mb-5 { margin-bottom: calc(var(--unit-base) * 5); }
.fii-mb-6 { margin-bottom: calc(var(--unit-base) * 6); }
.fii-mb-7 { margin-bottom: calc(var(--unit-base) * 7); }
.fii-mb-8 { margin-bottom: calc(var(--unit-base) * 8); }
.fii-mb-9 { margin-bottom: calc(var(--unit-base) * 9); }
.fii-mb-10 { margin-bottom: calc(var(--unit-base) * 10); }
.fii-mb-11 { margin-bottom: calc(var(--unit-base) * 11); }
.fii-mb-12 { margin-bottom: calc(var(--unit-base) * 12); }
.fii-mb-13 { margin-bottom: calc(var(--unit-base) * 13); }
.fii-mb-14 { margin-bottom: calc(var(--unit-base) * 14); }
.fii-mb-15 { margin-bottom: calc(var(--unit-base) * 15); }
.fii-mb-16 { margin-bottom: calc(var(--unit-base) * 16); }
.fii-mb-17 { margin-bottom: calc(var(--unit-base) * 17); }
.fii-mb-18 { margin-bottom: calc(var(--unit-base) * 18); }
.fii-mb-19 { margin-bottom: calc(var(--unit-base) * 19); }
.fii-mb-20 { margin-bottom: calc(var(--unit-base) * 20); }

.fii-ml-0 { margin-left: calc(var(--unit-base) * 0); }
.fii-ml-1 { margin-left: calc(var(--unit-base) * 1); }
.fii-ml-2 { margin-left: calc(var(--unit-base) * 2); }
.fii-ml-3 { margin-left: calc(var(--unit-base) * 3); }
.fii-ml-4 { margin-left: calc(var(--unit-base) * 4); }
.fii-ml-5 { margin-left: calc(var(--unit-base) * 5); }
.fii-ml-6 { margin-left: calc(var(--unit-base) * 6); }
.fii-ml-7 { margin-left: calc(var(--unit-base) * 7); }
.fii-ml-8 { margin-left: calc(var(--unit-base) * 8); }
.fii-ml-9 { margin-left: calc(var(--unit-base) * 9); }
.fii-ml-10 { margin-left: calc(var(--unit-base) * 10); }
.fii-ml-11 { margin-left: calc(var(--unit-base) * 11); }
.fii-ml-12 { margin-left: calc(var(--unit-base) * 12); }
.fii-ml-13 { margin-left: calc(var(--unit-base) * 13); }
.fii-ml-14 { margin-left: calc(var(--unit-base) * 14); }
.fii-ml-15 { margin-left: calc(var(--unit-base) * 15); }
.fii-ml-16 { margin-left: calc(var(--unit-base) * 16); }
.fii-ml-17 { margin-left: calc(var(--unit-base) * 17); }
.fii-ml-18 { margin-left: calc(var(--unit-base) * 18); }
.fii-ml-19 { margin-left: calc(var(--unit-base) * 19); }
.fii-ml-20 { margin-left: calc(var(--unit-base) * 20); }

.fii-mx-0 { margin-left: calc(var(--unit-base) * 0); margin-right: calc(var(--unit-base) * 0); }
.fii-mx-1 { margin-left: calc(var(--unit-base) * 1); margin-right: calc(var(--unit-base) * 1); }
.fii-mx-2 { margin-left: calc(var(--unit-base) * 2); margin-right: calc(var(--unit-base) * 2); }
.fii-mx-3 { margin-left: calc(var(--unit-base) * 3); margin-right: calc(var(--unit-base) * 3); }
.fii-mx-4 { margin-left: calc(var(--unit-base) * 4); margin-right: calc(var(--unit-base) * 4); }
.fii-mx-5 { margin-left: calc(var(--unit-base) * 5); margin-right: calc(var(--unit-base) * 5); }
.fii-mx-6 { margin-left: calc(var(--unit-base) * 6); margin-right: calc(var(--unit-base) * 6); }
.fii-mx-7 { margin-left: calc(var(--unit-base) * 7); margin-right: calc(var(--unit-base) * 7); }
.fii-mx-8 { margin-left: calc(var(--unit-base) * 8); margin-right: calc(var(--unit-base) * 8); }
.fii-mx-9 { margin-left: calc(var(--unit-base) * 9); margin-right: calc(var(--unit-base) * 9); }
.fii-mx-10 { margin-left: calc(var(--unit-base) * 10); margin-right: calc(var(--unit-base) * 10); }
.fii-mx-11 { margin-left: calc(var(--unit-base) * 11); margin-right: calc(var(--unit-base) * 11); }
.fii-mx-12 { margin-left: calc(var(--unit-base) * 12); margin-right: calc(var(--unit-base) * 12); }
.fii-mx-13 { margin-left: calc(var(--unit-base) * 13); margin-right: calc(var(--unit-base) * 13); }
.fii-mx-14 { margin-left: calc(var(--unit-base) * 14); margin-right: calc(var(--unit-base) * 14); }
.fii-mx-15 { margin-left: calc(var(--unit-base) * 15); margin-right: calc(var(--unit-base) * 15); }
.fii-mx-16 { margin-left: calc(var(--unit-base) * 16); margin-right: calc(var(--unit-base) * 16); }
.fii-mx-17 { margin-left: calc(var(--unit-base) * 17); margin-right: calc(var(--unit-base) * 17); }
.fii-mx-18 { margin-left: calc(var(--unit-base) * 18); margin-right: calc(var(--unit-base) * 18); }
.fii-mx-19 { margin-left: calc(var(--unit-base) * 19); margin-right: calc(var(--unit-base) * 19); }
.fii-mx-20 { margin-left: calc(var(--unit-base) * 20); margin-right: calc(var(--unit-base) * 20); }

.fii-my-0 { margin-top: calc(var(--unit-base) * 0); margin-bottom: calc(var(--unit-base) * 0); }
.fii-my-1 { margin-top: calc(var(--unit-base) * 1); margin-bottom: calc(var(--unit-base) * 1); }
.fii-my-2 { margin-top: calc(var(--unit-base) * 2); margin-bottom: calc(var(--unit-base) * 2); }
.fii-my-3 { margin-top: calc(var(--unit-base) * 3); margin-bottom: calc(var(--unit-base) * 3); }
.fii-my-4 { margin-top: calc(var(--unit-base) * 4); margin-bottom: calc(var(--unit-base) * 4); }
.fii-my-5 { margin-top: calc(var(--unit-base) * 5); margin-bottom: calc(var(--unit-base) * 5); }
.fii-my-6 { margin-top: calc(var(--unit-base) * 6); margin-bottom: calc(var(--unit-base) * 6); }
.fii-my-7 { margin-top: calc(var(--unit-base) * 7); margin-bottom: calc(var(--unit-base) * 7); }
.fii-my-8 { margin-top: calc(var(--unit-base) * 8); margin-bottom: calc(var(--unit-base) * 8); }
.fii-my-9 { margin-top: calc(var(--unit-base) * 9); margin-bottom: calc(var(--unit-base) * 9); }
.fii-my-10 { margin-top: calc(var(--unit-base) * 10); margin-bottom: calc(var(--unit-base) * 10); }
.fii-my-11 { margin-top: calc(var(--unit-base) * 11); margin-bottom: calc(var(--unit-base) * 11); }
.fii-my-12 { margin-top: calc(var(--unit-base) * 12); margin-bottom: calc(var(--unit-base) * 12); }
.fii-my-13 { margin-top: calc(var(--unit-base) * 13); margin-bottom: calc(var(--unit-base) * 13); }
.fii-my-14 { margin-top: calc(var(--unit-base) * 14); margin-bottom: calc(var(--unit-base) * 14); }
.fii-my-15 { margin-top: calc(var(--unit-base) * 15); margin-bottom: calc(var(--unit-base) * 15); }
.fii-my-16 { margin-top: calc(var(--unit-base) * 16); margin-bottom: calc(var(--unit-base) * 16); }
.fii-my-17 { margin-top: calc(var(--unit-base) * 17); margin-bottom: calc(var(--unit-base) * 17); }
.fii-my-18 { margin-top: calc(var(--unit-base) * 18); margin-bottom: calc(var(--unit-base) * 18); }
.fii-my-19 { margin-top: calc(var(--unit-base) * 19); margin-bottom: calc(var(--unit-base) * 19); }
.fii-my-20 { margin-top: calc(var(--unit-base) * 20); margin-bottom: calc(var(--unit-base) * 20); }

.fii-m-auto {
    margin: auto;
}

.fii-mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.fii-my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.fii-mt-auto {
    margin-top: auto;
}

.fii-mr-auto {
    margin-right: auto;
}

.fii-mb-auto {
    margin-bottom: auto;
}

.fii-ml-auto {
    margin-left: auto;
}

